* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: white;
    border-left: 1px solid #ececec;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
    box-shadow: inset 0 0 0 2px #fff;
  }
}

#mainContent {
  width: 500px;
  margin: 10px auto;

  #info {
    p {
      margin: 0;
    }
  }

  #unitData {
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: scroll;

    .buttons {
      width: 100%;
      margin: 10px 10px 0;

      .filter {
        display: block;
        margin-top: 5px;

        select {
          font-size: 16px;
          vertical-align: middle;
        }

        input {
          width: 150px;
          font-size: 16px;
          vertical-align: middle;
        }
      }
    }

    .unit {
      width: 230px;
      height: 200px;
      border: 1px solid black;
      border-radius: 5px;
      margin-top: 10px;
      margin-left: 11px;
      position: relative;

      .input {
        margin: 3px 3px 0;

        p {
          margin: 0;
        }

        textarea {
          width: 100%;
          height: 5em;
          font-size: 16px;
          resize: none;
        }

        select {
          font-size: 16px;
        }

        .rare {
          display: inline-block;
          border: 1px solid black;
          border-radius: 5px;
          padding: 0 3px;
          cursor: pointer;

          input {
            margin: 0;
            cursor: pointer;
          }

          &.checked {
            background: azure;
          }
        }
      }

      .close {
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        
        &::before {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          width: 20px;
          height: 4px;
          margin-top: -2px;
          background: lightgray;
          transform: rotate(45deg);
        }

        &::after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          width: 20px;
          height: 4px;
          margin-top: -2px;
          background: lightgray;
          transform: rotate(-45deg);
        }

        &:hover {
          &::before,&::after {
            background: gray;
          }
        }
      }

      .add {
        &::before {
          content: "";
          position: absolute;
          top: calc(50% - 3px);
          left: calc(50% - 50px);
          width: 100px;
          height: 6px;
          background: gray;
        }
        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 50px);
          left: calc(50% - 3px);
          width: 6px;
          height: 100px;
          background: gray;
        }
      }

      &:last-child {
        cursor: pointer;
      }
    }
  }
}
