$border: 1px solid black;

@mixin pc {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 600px) and (max-width: 1279px) {
    @content;
  }
  
}

@mixin sp {
  @media screen and (max-width: 599px) {
    @content;
  }
}


html, body {
  height: 97%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: white;
    border-left: 1px solid #ececec;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
    box-shadow: inset 0 0 0 2px #fff;
  }
}

#content {
  height: 100%;
}

.mainContent {
  @include pc {
    width: 990px;
  };
  @include tab {
    width: 750px
  }
  @include sp {
    width: 360px;
  };
  height: 100%;
  margin: 10px auto;

  .tabContainer{
    height: 130px;
    display: flex;

    .tablist {
      height: 100%;
      width: 30px;
      margin: 0;
      padding: 0;
      list-style: none;

      .tab {
        writing-mode: vertical-lr;
        border: $border;
        border-bottom: none;
        border-radius: 5px 0 0 5px;
        margin: 0;
        height: 65px;
        width: 30px;
        text-align: center;
        padding-left: 2px;
        cursor: pointer;

        &::before {
          content: "";
        }

        &::after {
          content: "";
        }

        &.selected {
          background: azure;
          border-right: none;
        }
      }
    }

    .tabItem {
      width: 100%;
      border: $border;
      border-left: none;
      border-bottom: none;
      background: azure;
      padding: 5px 0 0 5px;
      display: none;
      &.react-tabs__tab-panel--selected {
        display: block;
      }

      .info {
        height: 100%;
        width: 100%;

        p {
          margin: 0;
        }
      }
    }
  }

  .inputContainer {
    height: calc(100% - 130px);
    border: 1px solid black;

    .listController {
      height: 45px;
      @include sp {
        height: 75px;
      }
      width: 100%;
      border-bottom: $border;
      padding: 5px 10px 0;

      button {
        margin-right: 5px;
      }

      .filter {
        @include sp {
          display: block;
        }
        margin-top: 5px;

        select {
          font-size: 16px;
          vertical-align: middle;
          margin-right: 5px;
        }

        input {
          width: 300px;
          @include sp {
            width: 150px;
          }
          font-size: 16px;
          vertical-align: middle;
        }
      }
    }

    .unitData {
      height: calc(100% - 45px);
      @include sp {
        height: calc(100% - 75px);
      }
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;
      overflow-y: scroll;

      .unit {
        width: 230px;
        @include sp {
          width: 330px;
        }
        height: 245px;
        border: $border;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 11px;
        position: relative;

        .control {
          margin: 3px 3px 0;

          p {
            margin: 0;
          }

          textarea {
            width: 100%;
            height: 5em;
            font-size: 16px;
            resize: none;
          }

          select, input {
            font-size: 16px;
          }

          .rare {
            display: inline-block;
            border: $border;
            border-radius: 5px;
            padding: 0 3px;
            margin-right: 5px;
            cursor: pointer;

            input {
              margin: 0;
              cursor: pointer;
            }

            &.checked {
              background: azure;
            }
          }
        }

        .close {
          display: inline-block;
          position: absolute;
          top: 2px;
          right: 2px;
          padding: 0;
          width: 20px;
          height: 20px;
          cursor: pointer;
          
          &::before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            width: 20px;
            height: 4px;
            margin-top: -2px;
            background: lightgray;
            transform: rotate(45deg);
          }

          &::after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            width: 20px;
            height: 4px;
            margin-top: -2px;
            background: lightgray;
            transform: rotate(-45deg);
          }

          &:hover {
            &::before,&::after {
              background: gray;
            }
          }
        }

        .add {
          &::before {
            content: "";
            position: absolute;
            top: calc(50% - 3px);
            left: calc(50% - 50px);
            width: 100px;
            height: 6px;
            background: gray;
          }
          &::after {
            content: "";
            position: absolute;
            top: calc(50% - 50px);
            left: calc(50% - 3px);
            width: 6px;
            height: 100px;
            background: gray;
          }
        }

        &:last-child {
          cursor: pointer;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.ReactModal__Content {
  width: 600px;
  @include sp {
    width: 300px;
  }
  margin: 50px auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  background: white;

  p {
    margin: 0;

    &.buttons {
      button {
        margin-right: 5px;
      }
    }
  }

  .export {
    width: 100%;
    height: 10em;
    @include sp() {
      height: 5em;
    }
    font-size: 16px;
    overflow-y: auto;
    border: $border;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 3px 5px;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    height: 50px;
    font-size: 16px;
    resize: none;
  }
}